@font-face {
	font-family: Garamond;
}


body {
	background-color: #030938;
}

p {
  color: #41fce6;
  font-family: Garamond;
}

a p:hover {
  color: #55fc92;
}


a:link {
  
  text-decoration: none;
  color: #41fce6;
}

a:visited {
  text-decoration: none;
  color: #41fce6;
}
/*rgb(0, 0, 0)*/

a:hover {
  text-decoration: none;
  color: #55fc92;
}

a:active {
  text-decoration: none;
}

h1 {
  color: #41fce6;
  font-family: Garamond;
}

h3 {
  color: #41fce6;
  font-family: Garamond;
}


img:hover {
	filter: brightness(115%);
	cursor: pointer;
}

#home {
	background-color: #030938;
}

#instructions {
	background-color: #010419;
}

#download {
	background-color: #06105e;
}


.omegadiv {
	height: 97vh;
	margin: 0 auto;

/*	border-style: solid;
	border-color: blue; */
}

.sidebardiv {
	position: absolute;
	top: 36%;
	right: 52%;
	padding-right: 50px;
/*	border-style: solid;
	border-color: red; */
}

.contentparent {
	height: 97vh;
	width: 49vw;
	
	position: absolute;
	left: 48%;
	border-style: solid;
	border-color: green;
	border-width: 1px;
}

.contentdiv {
	display: none;
	
	position: absolute;
	left: 0%;
	overflow-y: hidden;
	
	background-color: #F2C74F;
	border-style: solid;
	border-color: yellow;
	border-width: 1px;
}

.interfacediv {
	display: block;
	
	position: relative;
	left: 0%;
	height: 50%;
	width: 100%;
	overflow-y: hidden;
	
	background-color: #030938;
	border-style: solid;
	border-color: pink;
	border-width: 1px;
}

.textbox {
    width: 550px;
    height: 30vh;
}

.enter-btn {
    position: absolute;
    top: 33vh;
    right: 25px;
    width: 100px;
    height: 4vh;
}

.instructionsdiv {
	display: flex;
	align-items: center;
	height: 8vh;
}

.lesspadded {
	width: 600px;
	text-align: center;
	height: 80vh;
}

.padded {
	width: 560px;
	padding-left: 20px;
	padding-right: 20px;	
}

.mar {
	margin-top: 15px;
}

.leftmar {
	margin-left: 15px;
}

.bigmar {
	margin-top: 25vh;
}

.hugemar {
	margin-top: 24vh;
}

.enteranim {
	bottom: 10%;
	height: 80vh;
	animation-name: enter;
	animation-duration: 0.3s;
	animation-timing-function:cubic-bezier(0, 0, -0.5, 1.0);
}

@keyframes enter {
	from {
		height: 0;
	} to {
		height: 80vh;
	}
}

.exitanim {
	top: 6.8%;
	height: 0;
	animation-name: exit;
	animation-duration: 0.3s;
	animation-timing-function:cubic-bezier(0, 0, -0.5, 1.0);
}

@keyframes exit {
	from {
		height: 80vh;
	} to {
		height: 0;
	}
}